.clear {
	clear: both;
}
#cadre {
	width: 300px;
	height: 600px;
	border: 1px solid #000;
	background-color: #411B12;
}
#plateau {
	margin: 20px 0px 0px 20px;
	float: left;
	width: 200px;
	height: 500px;
}
.plateau{
	float: left;
	width: 40px;
	height: 40px;
	margin: 2px;
	background-color: LightGrey;
	border: 3px inset #AAA;
	border-radius: 100%;
}
#aide {
	margin: 20px 20px 0px 4px;
	float: left;
	width: 50px;
	height: 500px;
	border-left: 3px double #000;
	border-right: 3px double #000;
}
.box {
	width: 40px;
	height: 40px;
	padding: 5px;
}
.aide {
	float: left;
	width: 14px;
	height: 14px;
	margin: 1px;
	background-color: LightGrey;
	border: 2px inset #AAA;
	border-radius: 100%;
}
#couleur {
	height: 50px;
	width: 300px;
}
#red, #yellow, #green, #blue, #purple, #black {
	margin: 3px;
	float: left;
	width: 40px;
	height: 40px;
	border: 2px inset #AAA;
	border-radius: 100%;
}
#red {background-color: red;}
#yellow {background-color: yellow;}
#green {background-color: green;}
#blue {background-color: blue;}
#purple {background-color: purple;}
#black {background-color: black;}
button {
	margin: 5px 0px 0px 0px;
	width: 300px;
	height: 25px;
}